<!DOCTYPE html>
<html>
<head>
<style type="text/css">
	body
	{
		background-color: #A6ACAF;
	}
	</style>

	<title>User Profile</title>
	<!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>

<body>
    <div class="container">
<form class="form-horizontal" action="/profile/create" method="POST">
 <input type="hidden" name="owner" value="<%- user%>" />
 
<fieldset>

<!-- Form Name -->
<legend>PROFILE</legend>

<!-- Text input-->
<div class="form-group">
  <label  for="Area_of_specialization">Area of specialization: </label>  
  
  <input id="Area_of_specialization" name="Area_of_specialization" type="text" placeholder="Field of work" class="form-control" >
    
 
</div>

<!-- Text input-->
<div class="form-group">
  <label  for="Qualification">Qualification: </label>  
  
  <input id="Qualification" name="Qualification" type="text" placeholder="BE/ME/PhD" class="form-control">
    
</div>

<!-- Text input-->
<div class="form-group">
  <label  for="Designation">Designation: </label>  
  <div class=" ">
  <input id="Designation" name="Designation" type="text" placeholder="Professor/Principal"  >
    
  </div>
</div>
<div class="form-group">
 <label for="college_name">College Name:</label>
 <div class=" ">
  <input  id="college_name" name="college_name" type="text" class="form-control">
  </div>
</div>
<div class="form-group">
  <label class="college-phone-number">College phone number:</label>
  <div class=" ">
  <input type="text" name="college_phone_number" id="college_phone_no" class="form-control" >
 </div>
</div>

<div class="form-group">
  <label class="college_mail">College mail:</label>
  <div class=" ">
  <input type="text" name="college_email" maxlength="25" id="college_mail" class="form-control">
  </div>
</div>

<!--<div class="form-group">
  <label  for="undertaking_college_name">Name of the institution where the project will be undertaken:  </label>  
  <div class=" ">
  <input id="undertaking_college_name" name="undertaking_college_name" type="text" placeholder="Name of the institution" class="form-control" >
    
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label  for="retired">Retired: </label>
  
    <input id="retired" type="radio" name="retired" value="Yes"  placeholder="Retired/Not Retired"> Yes 
    <input id="retired" type="radio" name="retired" value="No"  placeholder="Retired/Not Retired"> No <br>
     
 
</div>
<!--<div class="form-group">
  <label  for="">Whether the college is approved under section 2(f) and 12(B) of the UGC Act: </label>
  <div class="college_approval_status">
    <input id="college_approval_status" type="text" name="college_approval_status" placeholder="Approved/Denied" class="form-control">
     
  </div>
</div>
-->
<div class="form-group">
  <label  for="teaching_experience">Teaching Experience: </label>
  <div class=" ">
    <input id="teaching_experience" type="text" name="teaching_experience" placeholder="No. of years of experience" class="form-control">
     
  </div>
</div>
<div class="form-group">
  <label  for="research_experience">Research Experience: </label>
  <div class=" ">
    <input id="research_experience" type="text" name="research_experience" placeholder="No. of years of experience" class="form-control">
     
  </div>
</div>

<div class="form-group">
  <label  for="doctrate_degree_year">Doctrate Degree Year: </label>
  <div class=" ">
    <input id="doctrate_degree_year" type="text" name="doctrate_degree_year" placeholder="Year of Doctrate degree Completion" class="form-control">
     
  </div>
</div>
<div class="form-group">
  <label  for="doctrate_degree_title">Doctrate Degree: </label>
  <div class=" ">
    <input id="doctrate_degree_title" type="text" name="doctrate_degree_title" placeholder="Field of Doctrate degree" class="form-control">
     
  </div>
</div>
<div class="form-group">
  <label  for="papers_published">Number of papers published: </label>
  <div class=" ">
    <input id="papers_published" type="text" name="papers_published" placeholder="Papers published" class="form-control">
     
  </div>
</div>
<div class="form-group">
  <label  for="papers_accepted">Number of papers accepted: </label>
  <div class=" ">
    <input id="papers_accepted" type="text" name="papers_accepted" placeholder="Papers Accpted" class="form-control">
     
  </div>
</div>
<div class="form-group">
  <label  for="papers_communicated">Number of papers communicated: </label>
  <div class=" ">
    <input id="papers_communicated" type="text" name="papers_communicated" placeholder="Papers Communicated" class="form-control">
     
  </div>
</div>
<div class="form-group">
  <label  for="book_published">Number of Books published: </label>
  <div class=" ">
    <input id="book_published" type="text" name="book_published" placeholder="books published" class="form-control">
     
  </div>
</div>
<div class="form-group">
  <label  for="book_accepted">Number of Books accepted: </label>
  <div class=" ">
    <input id="book_accepted" type="text" name="book_accepted" placeholder="books accepted" class="form-control">
     
  </div>
</div>



<!-- File Button --> 
<div class="form-group">
  <label  for="filebutton">Upload Photo: </label>
  <div class=" ">
    <input id="filebutton" name="filebutton" class="input-file" type="file" >
  </div>
</div>


<!-- Button -->
<div class="form-group">
  <label  for="singlebutton"> </label>
  <div class=" ">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Update</button>
      <button id="singlebutton" name="singlebutton" class="btn btn-primary">Cancel</button>
  </div>
</div>


</fieldset>
</form>

</div>
</body>

</html>