<!DOCTYPE html>
<html lang="en">
<head>
  <title>Format</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="jumbotron">
    <h1>Format For Submitting A Proposal</h1>      
    <p>The following are the fields which has to be highlighted while submitting a project</p>
  </div>
  <p>

 (i) Project Title<br>
 (ii) Introduction <br>  
             • Origin of the research problem <br>
             • Interdisciplinary relevance <br>
             • Review of Research and Development in the Subject: <br>   
                          International status   <br>
                          National Status <br>  
                          Significance of the study  <br>
 (iii) Objectives <br>  
 (iv) Methodology   <br>
 (v) Year wise Plan of work and targets to be achieve. <br>  
 (vi) Details of collaboration, if any intended   <br>
  </p>      
       
</div>

</body>
</html>