<div class="container">
  <div class="jumbotron">
    <h1>Format For Submitting A Update</h1>      
    </div>
    <p><h1>The following are the fields which has to be highlighted while submitting a project</h1></p>
  <p>
   <h1>EXPENDITURE DETAILS</h1>
  <h1>1. Grants in aid general</h1><br>
      1.1 allocated amount<br>
      1.2 grants received<br>
      1.3 expenditure incurred<br>
  <h1>2. Grants for creation of capital assets</h1><br>
      2.1 allocated amount<br>
      2.2 grants received<br>
      2.3 expenditure incurred<br>
  <h1>3. Grants in aid salaries</h1><br>
      3.1 allocated amount<br>
      3.2 grants received<br>
      3.3 expenditure incurred<br>
    </p>
    </div>