

<div class="container">
  <div class="jumbotron">
    <h1>Format For Submitting A Proposal</h1>      
    <p>The following are the fields which has to be highlighted while submitting a project</p>
  </div>
  <p>

 (i) Project Title<br>
 (ii) Introduction <br>  
             • Origin of the research problem <br>
             • Interdisciplinary relevance <br>
             • Review of Research and Development in the Subject: <br>   
                          International status   <br>
                          National Status <br>  
                          Significance of the study  <br>
 (iii) Objectives <br>  
 (iv) Methodology   <br>
 (v) Year wise Plan of work and targets to be achieve. <br>  
 (vi) Details of collaboration, if any intended   <br>
  </p>      
       
</div>
