<html> 
<head>
<title>form validation</title>
</head>
<body>
<form action="/user/create" method="post" id="form" onsubmit="return validate_all('results');">
<table cellspacing="10">
<tr>
	<td>First Name</td>
	<td><input type="text" name="firstname" required="required" maxlength="25" id="firstname">  
	</td>
</tr>
<tr>
	<td>Middle Name</td>
	<td><input type="text" name="middlename"  maxlength="25" id="middlename"></td>
</tr>

<tr>
	<td>Last Name</td>
	<td><input type="text" required="required" name="lastname" maxlength="25" id="lastname"> </td>
</tr>

<tr>
	<td>Email</td>
	<td><input type="text" required="required" name="email" maxlength="50" id="email"> </div></td>
</tr>
<tr>
	<td>Password</td>
	<td><input type="password" required="required" name="password" maxlength="25" id="password" >
	</td>
</tr>
<tr>
	<td>Confirm Password</td>
	<td><input type="password" required="required" name="cpass" maxlength="25" id="password"></td>
</tr>
<tr>
	<td>DateOfBirth</td>
	<td><input type="date" required="required"  name="date_of_birth" id="date_of_birth"></div></td>
</tr>
<tr>
	<td>Address</td>
	<td><textarea style="resize:none" rows="4" cols="25" required="required"/></td>
</tr>
<tr>
	<td>City</td>
	<td><input type="text" required="required" name="city" maxlength="25" id="city" ></td>
</tr>
<tr>
	<td>state:</td>
	<td><select name="state">
		<option value="">------------Select State------------</option>
		<option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
		<option value="Andhra Pradesh">Andhra Pradesh</option>
		<option value="Arunachal Pradesh">Arunachal Pradesh</option>
		<option value="Assam">Assam</option>
		<option value="Bihar">Bihar</option>
		<option value="Chandigarh">Chandigarh</option>
		<option value="Chhattisgarh">Chhattisgarh</option>
		<option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
		<option value="Daman and Diu">Daman and Diu</option>
		<option value="Delhi">Delhi</option>
		<option value="Goa">Goa</option>
		<option value="Gujarat">Gujarat</option>
		<option value="Haryana">Haryana</option>
		<option value="Himachal Pradesh">Himachal Pradesh</option>
		<option value="Jammu and Kashmir">Jammu and Kashmir</option>
		<option value="Jharkhand">Jharkhand</option>
		<option value="Karnataka">Karnataka</option>
		<option value="Kerala">Kerala</option>
		<option value="Lakshadweep">Lakshadweep</option>
		<option value="Madhya Pradesh">Madhya Pradesh</option>
		<option value="Maharashtra">Maharashtra</option>
		<option value="Manipur">Manipur</option>
		<option value="Meghalaya">Meghalaya</option>
		<option value="Mizoram">Mizoram</option>
		<option value="Nagaland">Nagaland</option>
		<option value="Orissa">Orissa</option>
		<option value="Pondicherry">Pondicherry</option>
		<option value="Punjab">Punjab</option>
		<option value="Rajasthan">Rajasthan</option>
		<option value="Sikkim">Sikkim</option>
		<option value="Tamil Nadu">Tamil Nadu</option>
		<option value="Tripura">Tripura</option>
		<option value="Uttaranchal">Uttaranchal</option>
		<option value="Uttar Pradesh">Uttar Pradesh</option>
		<option value="West Bengal">West Bengal</option>
	</select></td>
</tr>

<tr>
	<td>Pincode</td>
	<td><input type="text" required="required" name="pincode" maxlength="25" id="pincode"></td>
</tr>

<tr>
	<td>Gender</td>
	<td>
		<select name="gender" required="required">
			<option value="1">male</option>
			<option value="0">female</option>
		</select>
	</td>
</tr>

<tr>
	<td>Phone Number</td>
	<td><input type="text" required="required"  name="contact_no" maxlength="25" id="contact_no"></td>
</tr>
<tr>
	<td>College Name</td>
	<td><input type="text" required="required" name="college_name" maxlength="25" id="college_name"></td>
</tr>
<tr>
	<td>College phone number</td>
	<td><input type="text" required="required" name="college_phone_no" maxlength="25" id="college_phone_no"  ></td>
</tr>
<tr>
	<td>College mail</td>
	<td><input type="text" required="required" name="college_email" maxlength="25" id="college_mail"></td>
</tr>
<tr>
	<td colspan="2"><input type="submit" name="submit" value="Register"></td>
</tr>
</table>
</form>
</body>
</html>