<div class="row">
<br>
<div class="col-md-4"></div>
<div class="col-md-4">
<form class="form-horizontal" action="/user/create" method="POST">
<fieldset>
<!-- Form Name -->
<legend>SIGN UP</legend>
<div class="form-group">
 	<label  for="first_name">First Name</label>
 	<input type="text" name="first_name" maxlength="25" id="first_name" placeholder="Enter the first name" class="form-control">  
</div>

<div class="form-group">
 	<label  for="middle_name">Middle Name</label>
 	<input type="text" name="middle_name"  maxlength="25" id="middle_name"  placeholder="Enter the middle name" class="form-control">
 </div>

<div class="form-group">
 	<label  for="last_name">Last Name</label>
	<input type="text" name="last_name" maxlength="25" id="last_name"  placeholder="Enter the last name" class="form-control"> 
</div>


<div class="form-group">
	<label  for="email">Email</label>
	<input type="text" name="email" maxlength="50" id="email"  placeholder="enter the email" class="form-control">  
</div>

<div class="form-group">
	<label  for="password">Password</label>
	<input type="password" name="password" maxlength="25" id="password"  placeholder="enter the password" class="form-control" >
</div>
	
<div class="form-group">
 	<label  for="confirm_password">Confirm Password</label>
    <input type="password" name="cpass" maxlength="25" id="confirm_password"  placeholder="Enter the confirm password" class="form-control">
</div>

<div class="form-group">
	<label  for="date_of_birth">DateOfBirth</label>
	<input type="date"   name="date_of_birth" id="date_of_birth"  placeholder="Enter the data of birth" class="form-control">
</div>

<div class="form-group">	
	<label  for="address">Address</label>
	<textarea style="resize:none" rows="4" class="form-control" required></textarea>
</div>

<div class="form-group">	
 <label  for="city">City</label>
	<input type="text"  name="city" maxlength="25" id="city"  placeholder="enter the city" class="form-control">
</div>
<div class="form-group">
<label for="state">State</label>
<select class="form-control">
	<option value="" selected disabled="disabled">------------Select State------------</option>
		<option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
		<option value="Andhra Pradesh">Andhra Pradesh</option>
		<option value="Arunachal Pradesh">Arunachal Pradesh</option>
		<option value="Assam">Assam</option>
		<option value="Bihar">Bihar</option>
		<option value="Chandigarh">Chandigarh</option>
		<option value="Chhattisgarh">Chhattisgarh</option>
		<option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
		<option value="Daman and Diu">Daman and Diu</option>
		<option value="Delhi">Delhi</option>
		<option value="Goa">Goa</option>
		<option value="Gujarat">Gujarat</option>
		<option value="Haryana">Haryana</option>
		<option value="Himachal Pradesh">Himachal Pradesh</option>
		<option value="Jammu and Kashmir">Jammu and Kashmir</option>
		<option value="Jharkhand">Jharkhand</option>
		<option value="Karnataka">Karnataka</option>
		<option value="Kerala">Kerala</option>
		<option value="Lakshadweep">Lakshadweep</option>
		<option value="Madhya Pradesh">Madhya Pradesh</option>
		<option value="Maharashtra">Maharashtra</option>
		<option value="Manipur">Manipur</option>
		<option value="Meghalaya">Meghalaya</option>
		<option value="Mizoram">Mizoram</option>
		<option value="Nagaland">Nagaland</option>
		<option value="Orissa">Orissa</option>
		<option value="Pondicherry">Pondicherry</option>
		<option value="Punjab">Punjab</option>
		<option value="Rajasthan">Rajasthan</option>
		<option value="Sikkim">Sikkim</option>
		<option value="Tamil Nadu">Tamil Nadu</option>
		<option value="Tripura">Tripura</option>
		<option value="Uttaranchal">Uttaranchal</option>
		<option value="Uttar Pradesh">Uttar Pradesh</option>
		<option value="West Bengal">West Bengal</option>
	</select>
</div>
<div class="form-group">
	<label  for="pincode">Pincode</label>
	<input type="text" name="pincode" maxlength="25" id="pincode"  placeholder="Enter the pincode" class="form-control">
</div>
<div class="form-group">
	<label  for="gender">Gender</label>
	<select name="gender" required="required" class="form-control">
		<option selected disabled>select</option>
		<option value="1">male</option>
		<option value="0">female</option>
	</select>
</div>
<div class="form-group">
	<label  for="phone_number">Phone Number</label>
	<input type="text" name="contact_no" id="contact_no"  placeholder="Enter the phone number" class="form-control">
</div>
  <div class="btn-group btn-group-justified">
  	<div class="btn-group">
    <button id="submit" type="submit" class="btn btn-primary">submit</button>
    </div>
    <div class="btn-group">
     <button id="reset" type="reset" class="btn btn-danger">reset</button>
     </div>
  </div>
</fieldset>
</form>
</div>
<div class="col-md-4"></div>
<br>