<br>
<legend>User Detail:</legend>
<br>
<table class="table">
<th>user name</th><th>gender</th><th>contact no</th>
<tr>
  <td><%= user.firstname+" "+user.lastname %></td>
  <!-- if else condition to view gender -->
    <% if(user.gender == 1){ %>
        <td>Male</td>
    <% }else {%>
        <td>Female</td>
    <% } %>
  <!-- end of gender condition -->
  <td><%= user.contact_no %></td>
</table>