<br>
<legend>update Detail:</legend>
<br>
<table class="table">
<tr>
  <th>Project Title</th>
  <td><%= user.project_title %></td>
 </tr>
 <tr>
  <th>Project Status</th>
  <td><%= user.projecct_status %></td>
 </tr>
 <tr>
  <th>Amount Of Expenditure</th>
  <td><%= user.amount %></td>
  </tr>
  </table>
